<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../web/src/styles/AppMovies.scss" />
  </head>
  <body>
    <article class="card">
      <img class="card__img" src="<%=image%>" alt="" />
      <h3 class="card__title"><%=title %></h3>
      <p class="card__description">Género:<%=genre %></p>
    </article>
  </body>
</html>
